<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap-responsive.min.css")
	@Styles.Render("~/Content/playerframework.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">My Videos</a>
			<ul class="nav">
				@Html.MenuItem("Videos", "Index", "Videos")
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">

		    @RenderBody()

		</div>
	</div>

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/playerframework.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
